@font-face {
	font-family: "Yellowtail";
	src: url("./fonts/Yellowtail-Regular.ttf");
}

body {
	background: #272727;
	margin: 0;
	background-size: 100%;
	text-align: justify;
}

body::after {
	content: '';
	display: inline-block;
	width: 100%;
}

.text {
	color: #4a76a8;
	text-align: center;
	font-size: 50px;
	font-family: Yellowtail;
}

img {
	width: 300px;
	height: 200px;
	object-fit: cover;
}

div.header {
	display: block;
	height: 200px;
	background: url(img/Christmas_town.png);
}

input.primary {
	background: url(img/categories/1.PNG);
	height: 100px;
	width: 100px;
	position: absolute; 
	top: 100px;
	left: 840px;
}

input.backup {
	background: url(img/categories/2.PNG);
	height: 100px;
	width: 100px;
	position: absolute; 
	top: 100px;
	left: 1000px;
}

input.melee {
	background: url(img/categories/3.PNG);
	height: 100px;
	width: 100px;
	position: absolute; 
	top: 100px;
	left: 1160px;
}

input.special {
	background: url(img/categories/4.PNG);
	height: 100px;
	width: 100px;
	position: absolute; 
	top: 100px;
	left: 1320px;
}

input.sniper {
	background: url(img/categories/5.PNG);
	height: 100px;
	width: 100px;
	position: absolute; 
	top: 100px;
	left: 1480px;
}

input.premium {
	background: url(img/categories/6.PNG);
	height: 100px;
	width: 100px;
	position: absolute; 
	top: 100px;
	left: 1640px;
}

.container {
	position: relative;
}

.theme-button {
  position: absolute;
  top: 0;
  right:0;
  width: 150px;
  height: 30px;
  background-color: #6653d9;
  border: 2px solid #45dad2;
}

.light-theme {
	color: #333333;
	background-color: #eae9f2;
  }

  .dark-theme {
	color: #f2f2f2;
	background-color: #17161a;
  }